#form {
  height: 500px;
  border-style: solid;
  border-radius: 20px;
  background-color: #592d43;
  padding: 70px;
}

form {
  background-color: #592d43;
}

.formHeaderText {
  color: #f0e8e5;

  background-color: #592d43;
}

.formText {
  font-size: large;
  color: #a57c8f;
  background-color: #592d43;
}

#btn {
  margin: 15px;
  width: 100px;
  background-color: #a57c8f;
  border-color: #a57c8f;
}

#btn:hover {
  border-color: #78657c;
}
