#form {
  height: 33rem;
  border-style: solid;
  border-radius: 20px;
  background-color: var(--garnet);
  padding: 4rem;
}

form {
  background-color: var(--garnet);
}

.formHeaderText {
  color: var(--ivory);
  font-size: 2.25rem;
  background-color: var(--garnet);
}

.formText {
  font-size: 2rem;
  color: var(--dustyPink);
  background-color: var(--garnet);
}

#btn {
  margin: 1rem;
  width: 6rem;
  color: var(--ivory);
  background-color: var(--dustyPink);
  border-color: var(--dustyPink);
}

#btn:hover {
  border-color: var(--dustyPurple);
}
