* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1vw;
  background-color: #f0e8e5;
  color: #592d43;
}

:root {
  --ivory: #f0e8e5;
  --garnet: #592d43;
  --dustyPink: #a57c8f;
  --dustyPurple: #78657c;
}

.navigation {
  padding-top: 1.25rem;
}

.content {
  margin-left: 2.5rem;
  padding-top: 5.5rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 900px) {
  .navigation {
    display: flex-row;
  }
}
